
#SearAndTimeBox{
    position: absolute;
    width: 100%;
    height: 6rem;
    background: transparent;
    left: 50%;
    top: 10.5rem;
    transform: translateX(-50%);
}

#timeBox{
    width: 9rem;
    height: 6rem;
    /*background-color: rgba(255, 228, 196, 0.1);*/
    border-radius: 1.5rem;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 228, 196, 0.1);
    transition: width 0.5s,height 0.5s,background-image 0.5s,color 0.5s;
    /*filter: blur(1px);*/
    overflow: hidden;
    color: white;
    z-index: 1;
    /*width: 9rem;*/
    /*height: 6rem;*/


}

#timeBox:after{
    content: "";
    position: absolute;

    filter: blur(0.75);
    display: block;
    z-index: -1;

}

#timeBox:hover{
    width: 72%;
    max-width: 50rem;
    height: 3rem;
    filter:blur(0);
    background-image: linear-gradient(135deg,#cf94c5,#9bdbe1);

    /*background-color: rgba(255, 228, 196, 1);*/
    box-shadow: 0 0 3rem grey;
    color: #c0c6c9;
}

.Atime{
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-3rem);
    text-align: center;
    line-height: 6rem;
    transition:opacity 0.5s;
}

.Atime:hover{
    /*opacity: 0;*/
    /*transform: scale(0.8);*/
}

#searchAndIcons{
    position: absolute;
    width: 72%;
    max-width: 50rem;
    background: transparent;
    left: 50%;
    transform: translateX(-50%);
}


#searchBox{
    margin-top: 1rem;
    max-width: 50rem;
    width: 100%;
    height: 3rem;
    /*background-color: rgba(255, 228, 196, 0.1);*/
    background-image: linear-gradient(135deg,#cf94c5,#9bdbe1);
    /*background-color: rgba(255, 228, 196, 1);*/
    border-radius: 3rem;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%,-50%);*/
    /*filter: blur(1px);*/
    overflow: hidden;
    opacity: 0;
    color: #c0c6c9;
    padding: 3px;
    text-align: center;
    line-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    vertical-align: center;
    border: 0.1rem solid rgba(46,64,82,0.8);
}

#searchBox:hover{
    filter:blur(0);
    box-shadow: 0 0 1.5rem grey;
    transition-duration: 0.1s;
}

.searchIcon{
    /*font-weight: 800;*/
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: #9fd7df;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75),inset 0 0 10px rgba(0, 0, 0, 0.3);

    margin-left: 0.5rem;
}


.searchIcon:hover{
    /*background-color: rgba(128, 128, 128, 0.39);*/
    transform: scale(0.9);
    cursor: pointer;
}

.searchIcon>span{
    font-size: 1.3rem;
}

.inputArea{
    color: #333333;
    width:80% ;
    height: 88%;
    margin-left: 1rem;
    font-size: 1.1rem;
    max-width: 100%;
    border-radius: 0;
    border:  none;
    background-color: transparent;
    outline: none;

}

.btn{
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    color: #cf94c5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75),inset 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn:hover{
    transform: scale(0.9);
}

.btn>span{
    font-size: 1.3rem;
    font-weight: 700;
}

#searchIconsBox{
    /*position: absolute;*/
    width:10rem;
    height: 0rem;
    border-radius: 2rem;
    /*top: 6rem;*/
    /*left: 14%;*/
    background-color: rgba(255, 255, 255, .3);
    overflow: hidden;
    transition: height .3s linear,opacity .3s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center ;
    opacity:0;
}

#searchIconsBox span{
    font-size: 1.3rem;
    line-height: 3rem ;
}

#searchIconsBox>div{
    width: 100%;
    text-align: center;
    flex-grow: 1;
    padding: 0;
}

#searchIconsBox div:hover{
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(128, 128, 128, 0.49);
    transition-duration:.5s;
}


/*一言部分*/

.sentencebox{
    position: absolute;
    bottom: 10rem;
    width: 100%;
}

.sentence{
    position: absolute;
    width: 24rem;
    padding:1rem 1rem;
    background-color:rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    color: rgba(255, 255, 255, 0.9);
    left: 50%;
    transform: translateX(-50%);
}

.hitokoto-fullpage{
    width:24rem;
    position: relative;
}


.bracket-left{
    position: absolute;
    left: 0;
    top: 0;
}

.bracket-right{
    position: absolute;
    right: 0;
    bottom: 0;
}

#hitokoto-text{
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.4rem;
    padding: 8px 25px;
    word-break: normal;
}

#hitokoto-author{
    font-size: .9rem;
    margin-top: 20px;
    float: right;
    word-break: normal;
}

.footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 24rem;
    height: 1.5rem;
    border-radius:1.5rem ;
    line-height: 1.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    background-color: rgba(204, 204, 204, 0.2);
}



