
#SearAndTimeBox{
    position: absolute;
    width: 100%;
    height: 8rem;
    background: white;
    left: 50%;
    top: 28%;
    transform: translateX(-50%);
}

#timeBox{
    width: 4rem;
    height: 4rem;
    background-color: rgba(255, 228, 196, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: width 0.5s,height 0.5s,background-color 0.5s;
}

#timeBox:hover{
    width: 72%;
    height: 4rem;
    background-color: rgba(255, 228, 196, 1);
}

#searchBox{
    background-color: bisque;
    width: 30rem;
    height: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#inputBox{

}